.git
.github
node_modules
vendor
.env
.env.*
!.env.example
.idea
.vscode
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/screenshots/*
bootstrap/cache/*
*.log
.DS_Store
Thumbs.db
.claude
*.sqlite
